body{
  background: lightgrey
}

.jumbotron {
    background-color: navy;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-family: 'PT Serif', serif;
    margin-top: 20px;
    color: white;
    
  }
  form {
    background-color: white;
    border-width: thin;
    border-style: solid;
    padding: 10px;
        
  }
  .form-group{
    padding: 10px;
  }
  .results-body{
    border-width: thin;
    border-style: solid;
    background-color: white;
  }